.sidebar > ul.sidebar-menu > li > a > i{
    font-size: 25px;

}
.sidebar > ul.sidebar-menu > li > a > span{
    display: inline-block;
    height: 30px;
    padding: 3px 0px 3px 20px;
    vertical-align: top;
}